#app {
  padding-top: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

main {
  margin: 1em 2em;
  flex: 1;
  display: flex;
  flex-flow: column;
  border: 3px solid #ebebeb;
  border-radius: 3px;
  overflow-y: auto;
  height: 90%;
}

.header-nav.global-nav {
  padding: 1em 2em;
  max-width: unset;
}

/* Welcome */

.central-message,
.results {
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

.central-message {
  justify-content: center;
  align-items: center;
}

.central-message p {
  margin-top: .1em;
  margin-bottom: 0;
}

.central-message .title {
  margin-bottom: 1.5em;
}

.central-message .help {
  margin-top: 1.5em;
}

.central-message a {
  color: blue;
  text-decoration: none;
}

.central-message a:hover {
  color: blue;
}

.central-message a:visited {
  color: purple;
}

/* Editor */

.elm-ace {
  width: 100%;
  position: relative;
  flex: 1 60%;
}

.elm-ace.ace_editor {
  font-size: 14px;
}

.elm-ace.ace_editor .ace_gutter {
  border-right: 1px solid #ebebeb;
  background-color: white;
}

.elm-ace.ace_editor .ace_gutter,
.elm-ace.ace_editor .ace_scroller {
  padding-top: .4em;
}

.elm-ace.ace_editor .ace_gutter-active-line{
  background-color: white;
  border-right: none;
}

.elm-ace.ace_editor .ace_scroller.ace_scroll-left {
  box-shadow: none;
}

.elm-ace.ace_editor .ace_marker-layer .ace_selection,
.elm-ace.ace_editor .ace_marker-layer .ace_selected-word {
  background: #00C7B7;
}

.elm-ace.ace_editor .ace_content::selection {
  color: white;
}

/* Results */

.results {
  flex: 1 40%;
  padding: 1em;
  border-top: 3px solid #ebebeb;
  position: relative;
  overflow: auto;
}

.results > button {
  background: none;
  border: none;
  color: #bcbcbc;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}

.results-header {
  padding-bottom: 1em;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
}

.results-header.success {
  color: green;
}

.results-header.error {
  color: red;
}

.parse-result {
  padding-top: .5em;
}

.parse-result.success {
  color: green;
}

.parse-result.error {
  color: red;
}

.results.empty-data {
  display: none;
  border-radius: 0 0 3px 3px;
}
